{% load static %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>E-COPe</title>
<link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/images/logo.png' %}">
<meta name="msapplication-TileImage">

<!-- Most Important -->
<script src="{% static 'assets/js/config.js' %}"></script>

<link href="{% static 'assets/Selectsearchjs/select2.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/select2-bootstrap-5-theme.css' %}" rel="stylesheet">
<link href="https://unicons.iconscout.com/release/v4.0.8/css/line.css" rel="stylesheet">
<link href="{% static 'assets/nepalidatepicker/css/nepali.datepicker.v5.0.2.min.css' %}" rel="stylesheet">



<link href="{% static 'assets/css/theme.min.css' %}" type="text/css" rel="stylesheet" id="style-default">

<style>
    .select2-container--bootstrap-5 .select2-selection {
        outline: none !important;
        box-shadow: none !important;
        font-size: 13px;
    }
</style>